<!doctype html>
<title>{{ slide_filename }}</title>
<div id="view"></div>
<div id="name" class="positionable"><span class="filename"></span></span></div>
<div id="change_input" title="Thresholds">
	<form action="#" method="get">
		
		<table id="wrapper" data-bind="foreach: channels">
		<tr>
				<td><span class="ui-icon ui-icon-minus"></span></td>
				<td><span class="ui-icon ui-icon-plus"></span></td><td>
				<div style="width:120px" data-bind="slider: {values: values, realtime: true}"></div></td><td>
				<span class=" ui-icon ui-icon-minus"></span></td>
				<td><span class=" ui-icon ui-icon-plus"></span></td>
				<td><span><input type="checkbox" data-bind="checked: checked" /></span></td>
		</tr>
		</table>


</div>
<link rel="stylesheet" href="{{ url_for('static', filename='theme/jquery-ui.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='openseadragon.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='knockout-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='knockout-jqueryui.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='z9-t.css') }}">
<script type="text/javascript">
var imagePrefixURL="{{ url_for('static', filename='images/') }}";
var tileSourcesArray=[{{ slide_url | safe }}];
</script>
<script type="text/javascript" src="{{ url_for('static', filename='z9-t.js') }}"></script>
